.banner {
  background-color: #fff;
  top: 0;
  width: 100%;
  padding: 42px 50px;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  position: static;
  /* margin-bottom:5%; */
}
.bannerImg {
  width: 15%;
}
.banner img {
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: space-between;
  gap: 20%;
}
nav ul li a {
  color: #008e97;
  font-weight: 650;
  transition: color 0.3s;
  font-size: 1.2rem;
  box-shadow: #0a2351;
}
nav ul li a:hover {
  color: #025b74;
}
